/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 9, ../sass/print.scss */
html {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
}

/* line 16, ../sass/print.scss */
body {
  background-color: #EFEFEF;
  font-family: 'Comfortaa';
}

/* line 25, ../sass/print.scss */
.container {
  padding: none;
  width: 100%;
  max-width: none;
}

/* line 32, ../sass/print.scss */
div .three.columns {
  width: 25%;
}
/* line 35, ../sass/print.scss */
div .four.columns {
  width: 33.333333333%;
}
/* line 38, ../sass/print.scss */
div .page-head {
  padding-top: 10px;
  background-color: #641E16;
  color: #EFEFEF;
  font-family: 'Rock Salt';
}
/* line 44, ../sass/print.scss */
div .headline {
  padding-left: 6%;
  padding-top: 3%;
}
/* line 48, ../sass/print.scss */
div .language-slider {
  width: 100%;
  padding: 4% 0% 4% 0%;
  margin: 0px;
}
/* line 53, ../sass/print.scss */
div .section {
  background-color: #D7DBDD;
}
/* line 56, ../sass/print.scss */
div .section-header {
  text-align: center;
  font-weight: 700;
  margin: 6%;
  font-family: "Rock Salt";
}
/* line 62, ../sass/print.scss */
div .project-label {
  padding: 5% 0 3% 5%;
}
/* line 64, ../sass/print.scss */
div .project-label h4 {
  margin: 0px;
}
/* line 68, ../sass/print.scss */
div .project-details {
  background-color: #EFEFEF;
  font-size: 12px;
  margin-left: 0px;
  height: 100%;
  display: block;
  border-right: 20px solid #D7DBDD;
  padding: 2%;
}

/* line 79, ../sass/print.scss */
.ellie {
  width: 200px;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  margin-left: 50px;
  padding: 2px;
}

/* line 88, ../sass/print.scss */
.logo {
  width: auto;
  height: 65px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 96, ../sass/print.scss */
i {
  margin-left: 8%;
}
/* line 98, ../sass/print.scss */
i:hover {
  background-color: #CACFD2;
}

/* line 118, ../sass/print.scss */
svg.js-calendar-graph-svg {
  height: 100%;
  width: auto;
}

/* line 123, ../sass/print.scss */
.contrib-legend {
  margin: 5% 0% 2% 0%;
}

/* line 127, ../sass/print.scss */
.legend li {
  margin: 0px;
}

/* line 130, ../sass/print.scss */
.calendar {
  width: 100%;
  height: auto;
  font-family: "Comfortaa";
  background-color: #D7DBDD;
  min-height: 243px;
  text-align: center;
  margin: 0 auto;
}

/* line 140, ../sass/print.scss */
.calendar-graph text.wday,
.calendar-graph text.month {
  font-size: 10px;
  fill: #222;
}

/* line 146, ../sass/print.scss */
.contrib-legend {
  text-align: right;
  padding: 0 14px 10px 0;
  display: inline-block;
  float: right;
}

/* line 153, ../sass/print.scss */
.contrib-legend .legend {
  display: inline-block;
  list-style: none;
  margin: 0 5px;
  position: relative;
  bottom: -1px;
  padding: 0;
}

/* line 162, ../sass/print.scss */
.contrib-legend .legend li {
  display: inline-block;
  width: 10px;
  height: 10px;
}

/* line 168, ../sass/print.scss */
.text-small {
  font-size: 12px;
  color: #767676;
}

/* line 173, ../sass/print.scss */
.calendar-graph {
  padding: 5px 0 0;
  text-align: center;
}

/* line 178, ../sass/print.scss */
.contrib-column {
  padding: 15px 0;
  text-align: center;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  font-size: 11px;
}

/* line 186, ../sass/print.scss */
.contrib-column-first {
  border-left: 0;
}

/* line 190, ../sass/print.scss */
.table-column {
  display: table-cell;
  width: 1%;
  padding-right: 10px;
  padding-left: 10px;
  vertical-align: top;
}

/* line 198, ../sass/print.scss */
.contrib-number {
  font-weight: 300;
  line-height: 1.3em;
  font-size: 24px;
  display: block;
  color: #333;
}

/* line 206, ../sass/print.scss */
.calendar img.spinner {
  width: 70px;
  margin-top: 50px;
  min-height: 70px;
}

/* line 212, ../sass/print.scss */
.monospace {
  text-align: center;
  color: #000;
  font-family: monospace;
}

/* line 218, ../sass/print.scss */
.monospace a {
  color: #1D75AB;
  text-decoration: none;
}

/* line 223, ../sass/print.scss */
.contrib-footer {
  font-size: 11px;
  padding: 0 10px 12px;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  height: 26px;
}

/* line 232, ../sass/print.scss */
.left.text-muted {
  float: left;
  margin-left: 9px;
  color: #767676;
}

/* line 237, ../sass/print.scss */
.left.text-muted a {
  color: #4078c0;
  text-decoration: none;
}

/* line 241, ../sass/print.scss */
.left.text-muted a:hover,
.monospace a:hover {
  text-decoration: underline;
}

/* line 246, ../sass/print.scss */
h2.f4.text-normal.mb-3 {
  display: none;
}

/* line 250, ../sass/print.scss */
.float-left.text-gray {
  text-align: center;
}
