/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* line 9, ../sass/print.scss */
html {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: auto;
}

/* line 16, ../sass/print.scss */
body {
  background-color: #EFEFEF;
  font-family: 'Comfortaa';
}

/* line 25, ../sass/print.scss */
.container {
  width: 100%;
  max-width: none;
}

/* line 31, ../sass/print.scss */
div .three.columns {
  width: 25%;
}
/* line 34, ../sass/print.scss */
div .four.columns {
  width: 33.333333333%;
}
/* line 37, ../sass/print.scss */
div .page-head {
  padding-top: 10px;
  background-color: #641E16;
  color: #EFEFEF;
  font-family: 'Rock Salt';
}
/* line 43, ../sass/print.scss */
div .headline {
  padding-left: 6%;
  padding-top: 3%;
}
/* line 47, ../sass/print.scss */
div .language-slider {
  width: 100%;
  padding: 4% 0% 4% 0%;
  margin: 0px;
}
/* line 52, ../sass/print.scss */
div .section {
  background-color: #D7DBDD;
}
/* line 55, ../sass/print.scss */
div .section-header {
  text-align: center;
  font-weight: 700;
  margin: 6%;
  font-family: "Rock Salt";
}
/* line 61, ../sass/print.scss */
div .projects {
  padding: 5%;
  background-color: #D7DBDD;
}
/* line 65, ../sass/print.scss */
div .details-button {
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 0px;
}
/* line 69, ../sass/print.scss */
div .details-button input {
  height: 50px;
  width: auto;
}
/* line 73, ../sass/print.scss */
div .details-button:hover {
  background-color: #CACFD2;
}
/* line 77, ../sass/print.scss */
div .project-details {
  visibility: hidden;
  background-color: #CACFD2;
  margin: none;
}

/* line 84, ../sass/print.scss */
.ellie {
  width: 200px;
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  margin-left: 50px;
  padding: 2px;
}

/* line 93, ../sass/print.scss */
.logo {
  width: auto;
  height: 65px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 116, ../sass/print.scss */
svg.js-calendar-graph-svg {
  height: 100%;
  width: auto;
}

/* line 121, ../sass/print.scss */
.contrib-legend {
  margin: 5% 0% 2% 0%;
}

/* line 125, ../sass/print.scss */
.legend li {
  margin: 0px;
}

/* line 128, ../sass/print.scss */
.calendar {
  width: 100%;
  height: auto;
  font-family: "Comfortaa";
  background-color: #D7DBDD;
  min-height: 243px;
  text-align: center;
  margin: 0 auto;
}

/* line 138, ../sass/print.scss */
.calendar-graph text.wday,
.calendar-graph text.month {
  font-size: 10px;
  fill: #222;
}

/* line 144, ../sass/print.scss */
.contrib-legend {
  text-align: right;
  padding: 0 14px 10px 0;
  display: inline-block;
  float: right;
}

/* line 151, ../sass/print.scss */
.contrib-legend .legend {
  display: inline-block;
  list-style: none;
  margin: 0 5px;
  position: relative;
  bottom: -1px;
  padding: 0;
}

/* line 160, ../sass/print.scss */
.contrib-legend .legend li {
  display: inline-block;
  width: 10px;
  height: 10px;
}

/* line 166, ../sass/print.scss */
.text-small {
  font-size: 12px;
  color: #767676;
}

/* line 171, ../sass/print.scss */
.calendar-graph {
  padding: 5px 0 0;
  text-align: center;
}

/* line 176, ../sass/print.scss */
.contrib-column {
  padding: 15px 0;
  text-align: center;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  font-size: 11px;
}

/* line 184, ../sass/print.scss */
.contrib-column-first {
  border-left: 0;
}

/* line 188, ../sass/print.scss */
.table-column {
  display: table-cell;
  width: 1%;
  padding-right: 10px;
  padding-left: 10px;
  vertical-align: top;
}

/* line 196, ../sass/print.scss */
.contrib-number {
  font-weight: 300;
  line-height: 1.3em;
  font-size: 24px;
  display: block;
  color: #333;
}

/* line 204, ../sass/print.scss */
.calendar img.spinner {
  width: 70px;
  margin-top: 50px;
  min-height: 70px;
}

/* line 210, ../sass/print.scss */
.monospace {
  text-align: center;
  color: #000;
  font-family: monospace;
}

/* line 216, ../sass/print.scss */
.monospace a {
  color: #1D75AB;
  text-decoration: none;
}

/* line 221, ../sass/print.scss */
.contrib-footer {
  font-size: 11px;
  padding: 0 10px 12px;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  height: 26px;
}

/* line 230, ../sass/print.scss */
.left.text-muted {
  float: left;
  margin-left: 9px;
  color: #767676;
}

/* line 235, ../sass/print.scss */
.left.text-muted a {
  color: #4078c0;
  text-decoration: none;
}

/* line 239, ../sass/print.scss */
.left.text-muted a:hover,
.monospace a:hover {
  text-decoration: underline;
}

/* line 244, ../sass/print.scss */
h2.f4.text-normal.mb-3 {
  display: none;
}

/* line 248, ../sass/print.scss */
.float-left.text-gray {
  text-align: center;
}
